.main_container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    background: #fff;
    z-index: 2;
}

.main_container>input {
    width: 50%;
    height: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
}


.main_container>select {
    width: 50%;
    height: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.change_data_button {
    width: 25%;
    height: 50px;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    border-radius: 5px;
    cursor: pointer;
}

.error_message {
    z-index: 5;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 7px;
    background: rgb(232, 20, 20);
}