/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
  
  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
  /*Handling picture to fit inside carousel*/
  .carousel-item {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the container */
  }

  
  /* Carousel base class */
  .carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 0;
    margin-top: 100rem;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }
  .carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
  }
  .carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative; /* Ensure the pseudo-element is positioned relative to the carousel-item */
    z-index: -1; /* Move the image behind the overlay */
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }
  
  .darkertext{
    text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.5);
  }
  /* MARKETING CONTENT
  -------------------------------------------------- */
  
  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  /* rtl:begin:ignore */
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  /* rtl:end:ignore */
  
  
  /* Featurettes
  ------------------------- */
  
  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    /* rtl:remove */
    letter-spacing: -.05rem;
  }
  
  .square-container {
    width: 500px;
    height: 500px;
    overflow: hidden;
  }

  .square-container img {
    width: 500px;
    height: 500px;
    object-fit: cover;
  }
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }
  